In [16]:
#QUESTION 1


a=2000 #a is starting number here
b=3200 #  b is end number here
for i in range(a,b+1):
    if(i%5!=0 and i%7==0):
        print(i,', ',end='')

2002 , 2009 , 2016 , 2023 , 2037 , 2044 , 2051 , 2058 , 2072 , 2079 , 2086 , 2093 , 2107 , 2114 , 2121 , 2128 , 2142 , 2149 , 2156 , 2163 , 2177 , 2184 , 2191 , 2198 , 2212 , 2219 , 2226 , 2233 , 2247 , 2254 , 2261 , 2268 , 2282 , 2289 , 2296 , 2303 , 2317 , 2324 , 2331 , 2338 , 2352 , 2359 , 2366 , 2373 , 2387 , 2394 , 2401 , 2408 , 2422 , 2429 , 2436 , 2443 , 2457 , 2464 , 2471 , 2478 , 2492 , 2499 , 2506 , 2513 , 2527 , 2534 , 2541 , 2548 , 2562 , 2569 , 2576 , 2583 , 2597 , 2604 , 2611 , 2618 , 2632 , 2639 , 2646 , 2653 , 2667 , 2674 , 2681 , 2688 , 2702 , 2709 , 2716 , 2723 , 2737 , 2744 , 2751 , 2758 , 2772 , 2779 , 2786 , 2793 , 2807 , 2814 , 2821 , 2828 , 2842 , 2849 , 2856 , 2863 , 2877 , 2884 , 2891 , 2898 , 2912 , 2919 , 2926 , 2933 , 2947 , 2954 , 2961 , 2968 , 2982 , 2989 , 2996 , 3003 , 3017 , 3024 , 3031 , 3038 , 3052 , 3059 , 3066 , 3073 , 3087 , 3094 , 3101 , 3108 , 3122 , 3129 , 3136 , 3143 , 3157 , 3164 , 3171 , 3178 , 3192 , 3199 ,

In [21]:
#QUESTION 2
a = input("Enter your first name: ")
b = input("Enter your last name: ")
Name = (a+" "+b)
print("Entered name is: ", Name )
#first we have to split the name by using split function to convrt it into words
rev_name = Name[::-1] # This is use to reverse a string 
print("Reversed name is: ",rev_name)

Enter your first name: Shreyan
Enter your last name: Kothari
Entered name is:  Shreyan Kothari
Reversed name is:  irahtoK nayerhS

In [22]:
#Question 3
radius = 6
volume = (4/3*3.14*radius)
print("Volume of sphere of given radius is: ", volume)

Volume of sphere of given radius is:  25.119999999999997